html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    
}
*{
    font-family: 'Rajdhani', sans-serif;
}
#app {
    min-height: 100%;
    position: relative;
    height: 100%;
}

.user {

    display: block;
    background-color: #e0e0e0;
    position: relative;
    min-height: 100%;

    &-fix {
        padding-top: 90px;
        padding-bottom: 100px;
    }
}

.container {
    display: block;
    max-width: 1180px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}

.cross {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    &:hover {
        opacity: 1;
      }

    &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
  }


  .lang-button{
    background-color: #f6f6f9;
    border: 1px solid #d9dee8;
    border-radius: 1px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin: 0 5px 8px 0;
    padding: 6px 17px;
    transition: border 0.2s, background-color 0.2s, color 0.2s;
    color: #555;
    cursor: pointer;
  }
  