
.dashboard-setting {
    padding-top: 50px;
    padding-bottom: 50px;

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        &--position {
            justify-content: space-evenly;
        }
    }

    &__box {
        margin-bottom: 18px;
        background: #f6f6f8;
        box-shadow: 0 1px 3px rgba(20, 35, 85, 0.17);
        transition: all 0.3s ease;
        display: block;
        grid-column: 10/30;
        cursor: pointer;
        height: max-content;
        max-width: 700px;
        margin: 0 auto;

        &:hover {
            background: #eef0f4;
        }

        &--open {
            &:hover {
                background: #f6f6f8;
            }
        }

        &--password {
            margin-top: 50px;
        }

        &--admin {
            max-width: 800px;
            margin-bottom: 50px;
            position: relative;
        }
    }

    &__content {
        height: max-content;
        padding: 0 20px;
        padding-bottom: 30px;
        display: none;

        &--open {
            display: block;
            border-top: black solid 1px;
            padding-top: 5px;
            cursor: default;
        }
    }

    &__txt {
        font-size: 25px;
        font-weight: 600;
        color: #142355;

        &--title {
            text-align: center;
            padding: 35px 0;
        }

        &--content {
            margin-bottom: 3px;
            font-size: 15px;
            font-weight: 600;
        }


        &--admin-label {
            font-size: 20px;
            padding: 5px 0;
        }

        &--error-box {
            color: #ca0f0f;
            text-align: center;
            padding: 5px 0;
        }

        &--coursor-reset{
            cursor: default;
        }

    }

    &__input {
        background: #fff;
        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.36);
        border: 1px solid #d9dee8;
        color: #555;
        display: inline-block;
        font-size: 15px;
        height: 40px;
        padding: 9px 12px 8px;
        vertical-align: middle;
        width: 100%;
        margin-right: 15px;
        box-sizing: border-box;

        &--admin-small {
            max-width: 250px;
            margin-left: 15px
        }
    }

    &__select {
        width: 250px;
        margin-left: 15px;
        margin-right: 15px;
    }

    &__button {
        background: #142355;
        box-shadow: 0 1px 2px 0 rgba(20, 35, 85, 0.5);
        color: white;
        border: none;
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: 600;
        height: 36px;
        line-height: 36px;
        padding: 4px 20px;
        text-align: center;
        transition: background-color 0.3s ease;
        margin: 0 auto;
        width: 100px;
        margin-top: 30px;

        &:hover {
            background: #00559b;
        }

        &--admin-save {
            margin: 0;
            padding: 2px;
        }

        &--red {
            background: #c82814;
            box-shadow: 0 1px 2px #af4d41;

            &:hover {
                background-color: #9c1907;

            }
        }
    }
}